@import url('./global.css');

/* Container de login */
.cadastro{
    background: url('./img/index/cadastro2.jpg') center / cover no-repeat;
    position: relative;
    
}

/* Overlay para escurecer a imagem do container */
.cadastro > .overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0000009f;
}

/* Estilos do Formulário */
.cadastro form{
  width: 500px;
  height: 700px;
  background-color: rgba(240, 248, 255, 0.1);
  backdrop-filter: blur(10px);
  border: 3px solid var(--bg-primary);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 2;
}

.cadastro form h2{
  font-size: 2em;
  color: var(--bg-secundary);
  text-align: center;
}

.cadastro__input{
  position: relative;
  background-color: transparent;
  width: 410px;
  margin: 25px 0 10px;
  border-bottom: 2px solid var(--bg-primary);
}

.cadastro__input label{
  position: absolute;
  top: 20px;
  left: 5px;
  transform: translateY(-45%);
  font-size: 1em;
  font-weight: 500;
  color: var(--bg-primary);
  pointer-events: none;
  transition: .6s ease-in;
}

.cadastro__input input:focus~label, .cadastro__input input:valid~label{ 
  top: -2px;
}

.cadastro__input input{
  width: 100%;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: #ffffff;
  padding: 0 50px 0 5px;
}

.cadastro__input .cadastro__input__icon {
  position: absolute;
  right: 20px;
  color: var(--bg-secundary);
  font-size: 1.2em;
  line-height: 57px;
}

.cadastro__input-imagem{
  display: flex;
  flex-direction: column;
  margin: 12px 0 10px 0;
  width: 410px;  

  label{
    color: var(--bg-primary);
  }

  input{
    background-color: var(--bg-secundary);
  }
}

.cadastro form input[type="submit"]{
  width: 80%;
  height: 40px;
  background-color: var(--bg-primary);
  border: none;
  border-radius: 30px;
  margin-top: 20px;
  outline: none;
  cursor: pointer;
  font-size: 1em;
  color: #1d1c1c;
  font-weight: 700;
  transition: .6s ease-out;

  &:hover{
    background-color: #1d1c1c;
    color: var(--bg-primary);
  }
}
