/* Importações */
@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap");

@font-face {
    font-family: "tipo1";
    src: url("./fonts/Super-Mario-Maker-Font.woff");
}

/* Criando Variáveis */
:root {
    --bg-primary: #f2b138;
    --bg-secundary: #b88934;
    --white-basic: #f0f0f0;
    --white-basic-transp: #f0f0f0e8;
    --new-bg: #d99f2f;
}

/* Estilos Globais */

* {
    font-family: "Inter Tight", sans-serif, Arial, Helvetica;
}

body {
    /* width: 100vw; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--bg-primary);
    position: relative;
}

.interface {
    max-width: 1280px;
    /* padding: 20px; */
    margin: 0 auto;
}

/* Estilo de botão padrão */
.btn-default {
    padding: 20px;
    font-size: 18px;
    cursor: pointer;
    color: #fff;
}

/* Estilo para não ter scroll do mouse na tag aplicada */
.no-scroll {
    overflow: hidden;
}

/* Estilo para botões de sair */
.return {
    background-color: crimson !important;
}

/* Estilo de <body> de páginas que não tem scroll -> páginas que tem 100vh total */
/* Aplica-se a todos menos a tag header */
body.no-scroll>*:not(header) {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* ####################################################################### */

/* HEADER DAS PÁGINAS ANTES DE LOGAR */
header {
    width: 100%;
    padding: 40px 0;
    /* background-color: var(--bg-primary); */
    background: linear-gradient(to bottom right,
            rgba(255, 255, 255, 0.4),
            rgba(255, 240, 210, 0.15));
}

header .interface {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10px;
}

header .logo {
    display: flex;
    align-items: center;
}

header .logo img {
    max-width: 70px;
}

header h2.title__logo {
    font-family: tipo1, "Inter Tight", sans-serif, Arial, Helvetica;
}

header .menu-desktop nav ul {
    list-style-type: none;
}

header .menu-desktop nav ul li {
    display: inline-block;
    margin: 0 15px;
}

header .menu-desktop nav ul li a {
    display: inline-block;
    text-decoration: none;
    color: #242323;
    font-size: 16px;
    font-weight: 600;
    transition: transform 0.3s ease-out;
}

header .menu-desktop nav ul li a:hover {
    transform: translateY(-5px);
}

header .menu-desktop__btn {
    display: flex;
    gap: 13px;
}

header .menu-desktop__btn a {
    text-decoration: none;

    i {
        display: inline-block;
        font-size: 1.2em;
        color: var(--bg-primary);
        background-color: transparent;
    }
}

/* Estilo para os ícone (login e Cadastro)  */
header .menu-desktop__btn a i {
    border-radius: 20px;
    color: #000000;
    background-color: transparent;
    padding: 8px;
    transition: background-color 1s ease-out;
}

header .menu-desktop__btn a:hover i {
    background-color: #116e1769;
    border: none;
    /* color: #000000; */
    border-radius: 26px 8px;
}

/* /HEADER DAS PÁGINAS ANTES DE LOGAR */
/* ############################################################################ */

/* FOOTER DAS PÁGINAS ANTES DE LOGAR */

.f__index {
    width: 100%;
    text-align: center;
    /* padding: 40px 0; */
    font-size: 0.9em;
    background-color: #eee;
    color: #666;
    position: absolute;
    bottom: 0;
}

/* /FOOTER DAS PÁGINAS ANTES DE LOGAR */