@import url('./global.css');

/* Container de login */
.login{
    background: url('./img/index/sasuke.jpg') center / cover no-repeat;
    position: relative;    
}

/* Overlay para escurecer a imagem do container */
.login > .overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0000009f;
}

/* Estilos do Formulário */
.login form{
  width: 400px;
  height: 500px;
  background-color: rgba(240, 248, 255, 0.1);
  backdrop-filter: blur(10px);
  border: 3px solid var(--bg-primary);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 2;
}

.login form h2{
  font-size: 2em;
  color: var(--bg-secundary);
  text-align: center;
}

.login__input{
  position: relative;
  background-color: transparent;
  width: 310px;
  margin: 25px 0 30px;
  border-bottom: 2px solid var(--bg-primary);
}

.login__input label{
  position: absolute;
  top: 20px;
  left: 5px;
  transform: translateY(-45%);
  font-size: 1em;
  font-weight: 500;
  color: var(--bg-primary);
  pointer-events: none;
  transition: .6s ease-in;
}

.login__input input:focus~label, .login__input input:valid~label{ 
  top: -2px;
}

.login__input input{
  width: 100%;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: #fff;
  padding: 0 50px 0 5px;
}

.login__input .login__input__icon {
  position: absolute;
  right: 20px;
  color: var(--bg-secundary);
  font-size: 1.2em;
  line-height: 57px;
}

.remember-forgot{
  width: 80%;
  margin: -15px 0 15px;
  font-size: .9em;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
}

.remember-forgot label input{
  margin-right: 3px;
  cursor: pointer;  
}

.remember-forgot a{
  color: var(--bg-secundary);
  text-decoration: none;

  &:hover{
    text-decoration: underline;
  }
}

form input[type="submit"]{
  width: 80%;
  height: 40px;
  background-color: var(--bg-primary);
  border: none;
  border-radius: 30px;
  outline: none;
  cursor: pointer;
  font-size: 1em;
  color: #1d1c1c;
  font-weight: 700;
  transition: .6s ease-out;

  &:hover{
    background-color: #1d1c1c;
    color: var(--bg-primary);
  }
}

.register-link{
  font-size: .9em;
  color: var(--bg-secundary);
  text-align: center;
  margin: 25px 0 10px;
}

/* ver e corrigir */
.register-link p{
  color: #ffffff;
  text-decoration: none;
  /* font-weight: 700; */
}
/* /ver e corrigir */

.register-link p a{
  color: var(--bg-secundary);
  text-decoration: none;
  font-weight: 700;

  &:hover{
    text-decoration: underline;
  }
}

/* MODAL SUCESS */
dialog#modalSucesso, dialog#senhaIncorreta{
  background-color: var(--bg-primary);
  border: 2px solid var(--bg-secundary);
  border-radius: 12px;
  padding: 20px 30px;
  box-shadow: 0 10px 25px rgba(0, 0 ,0, 0.2);
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  animation: aparecer 0.3s ease-out;

  p{
    font-size: 1.2em;
  
    span{
      display: block;
      font-weight: 700;
    }
  }


  .btnFechar{
    margin-top: 15px;
    padding: 8px 20px;
    border: none;
    background-color: #e6e6e6; /* Um cinza mais escuro que o branco translúcido */
    font-size: 1.2em;
    color: var(--bg-primary);
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover{
      background-color: var(--bg-secundary);
      color: #fff;
      /* font-weight: 800; */
      border: 2px solid var(--white-basic-transp);
    }
  }
}

dialog#modalSucesso::backdrop, dialog#senhaIncorreta::backdrop{
  background-color: rgba(0, 0, 0, 0.6);
}


/* Animação opcional */
@keyframes aparecer {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
/* /MODAL SUCESS */
