@charset "UTF-8";

* {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  background: url('img/_outros/bg-store.png');
  padding: 0;
}

body::before {
    content: '';
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.2); /* escurece com transparência */
    z-index: -1;
}

.fundo-escuro {
    position: fixed;
    inset: 0;
    background-image: url('img/_outros/bg-store.png');
    z-index: -1;
}

.fundo-escuro::after {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.2); /* camada escura */
}

main {
  margin: 200px auto;
  max-width: 1200px;
}

.moeda {
    position: absolute;
    background-image: url('img/_outros/coin.png');
    max-width: max-content;
    padding: 20px;
    top: 35px;
    right: 35px;
    animation: girar 0.36s infinite linear, piscar 0.36s infinite ease-in-out alternate;
    will-change: top, left;
    transition: top 0.4s ease, left 0.4s ease;
}

#moedas-container {
  position: absolute;
  padding: 5px;
  top: 15px;
  width: 100%;
  height: 100vh;      
  overflow: hidden;
  margin: 0;
}

@keyframes girar {
  0%, 100% { transform: scaleX(1);}
  50% { transform: scaleX(0);}
}

@keyframes piscar {
  0%, 60% { filter: brightness(0.9)}
  100% { filter: brightness(1.2)}
}

article {
  max-width: 100%;
  padding-bottom: 10px;
  background-color: inherit;
  display: grid;
  grid-template-columns: repeat(3, 400px);
  grid-auto-rows: 500px;
  justify-content: center;
  padding-bottom: 30px;
  gap: 7px;
  border-radius: 8px;
  box-sizing: border-box;
}

.produto {
  overflow: hidden;
  padding: 10px 12px 50px 0;
  box-sizing: border-box;
  background: linear-gradient(45deg, #a78e00, #f1d011, #a78e00);
  border-radius: 8px;
  box-shadow: 5px 7px 8px rgba(0, 0, 0, 0.75);
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.4s ease-out, transform 0.2s ease-out;
  z-index: 1;
}

.produto.show {
  opacity: 1;
  transform: translateY(0);
}

.produto > img {
  max-width: 300px;
  height: 300px;
  margin-left: 10px;
  padding: 10px;
}

.produto:hover { 
  transform: scale(1.05);
  transition: 0.2s all ease-in;
  background: linear-gradient(45deg, #f1d011, #a78e00, #f1d011);
  box-shadow: 7px 15px 12px rgba(0, 0, 0, 0.65);
}

figcaption {
  text-align: center;
  display: inline-block;
  position: relative;
  color: #333;
  font-size: 1.2em;
  width: 100%;
}

.estoque {
  font-size: smaller;
  color: #333;
}

.botoes {
  display: flex;
  justify-content: center;
  gap: 40px;
  position: relative;
  top: 5%;
}

.botao {
  padding: 5px;
  cursor: pointer;
  background-color: #222;
  border: none;
  border-radius: 6px;
  color: #dfdfdf;
  transition: 0.2s ease all;
}

.botao:hover {
  background-color: #dfdfdf;
  color: #222;
  transition: 0.2s ease all;
}

.feedback {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #e0ffe0;
  color: #225522;
  padding: 12px 20px;
  border: 1px solid #2d992d;
  border-radius: 8px;
  font-size: 1em;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, .6);
  z-index: 100;
  animation: sumir 2s forwards;
}

@keyframes sumir {
  0%, 80% { opacity: 1; }
  100% {
    opacity: 0;
    display: none;
  }
}

aside {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100vh;
  background-image: url('img/_outros/wallpaper-menu.png');
  background-size: cover;
  background-position: 85% 15%;
  z-index: 100;
  border-right: 5px solid #333;
  transform: translateX(-100%);
}

aside > ul li {
  font-size: 1.5em;
  text-indent: 10px;
  width: 100%;
  padding: 10px;
  line-height: 20pt;
  margin-top: 30px;
  color: #dfdfdf;
}

aside > ul li:hover {
  background-color: rgba(240, 248, 255, 0.7);
  color: #222;
  cursor: pointer;
}

#menu-lateral li.ativa {
  background: linear-gradient(90deg, #444, #222);
  color: #fff;
  border-left: 8px groove #f2b138;
  padding-left: 8px;
}

aside h1 {
  text-align: center; 
  color: #f2b138;
  font-size: 1.9em;
}

#nav-footer-aside {
  display: flex;
  flex-direction: row;
  justify-items: center;
  padding: 5px;
  position: relative;
  bottom: -40%;
  gap: 14px;
}

#nav-footer-aside a {
  text-decoration: none;
  text-indent: 10px;
  color: #f2b138;
}

#perfil {
  display: flex;
  justify-content: space-evenly;
  height: 120px;
  color: #dfdfdf;
  overflow: hidden;
  border-bottom: 3px solid #333;
  box-sizing: border-box;
}

#info {
  margin: 20px 0;
  overflow: inherit;
}

#info a { color: inherit; }

aside div img {
  margin: 27px 0;
  width: 65px;
  height: 65px;
}

#botao-menu-lateral {
  position: fixed;
  top: 93px;
  z-index: 100;
  height: 50px;
  width: 50px;
  border: none;
  border-radius: 18px;
  background: url('img/_outros/triangle-button.png') no-repeat;
  transform: rotate(90deg);
  background-size: contain;
  cursor: pointer;
}

#busca {
  position: fixed;
  top: 15px;
  margin: auto;
  display: flex;
  gap: 18px;
  padding: 10px;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 10px; 
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
}

#campo-busca {
  padding: 10px 15px;
  border: 1px solid #333;
  border-radius: 20px; 
  font-size: 1em;
  outline: none; 
  transition: all 0.3s ease; 
  width: 340px; 
}

#campo-busca::placeholder {
  color: #999;
  font-style: oblique;
}

#campo-busca:focus {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6); 
}

#botao-busca, #botao-limpar {
  padding: 10px 20px;
  background-color: #333; 
  color: #dfdfdf; 
  border: none;
  font-weight: bold;
  border-radius: 12px; 
  font-size: .95em;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.2s ease;
}

#botao-busca:hover, #botao-limpar:hover {
  background-color: #dfdfdf;
  color: #333;
} 
